body {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6)), url("http://www.caronindustries.com/sites/default/files/styles/essence-large/public/essences/001_1929-2.jpg") fixed center;
    background-size: cover;
    min-height: 100vh;
}

main {
    width: 800px;
    height: 600px;
    margin: auto;
    border-image: url("../img/screen.png") 50;
    border-image-width: 50px;
    padding: 50px;
    box-sizing: border-box;
}

@media screen and (min-width: 600px) and (max-width: 800px) {
    main {
        width: 600px;
        height: 450px;
    }
}

@media screen and (max-width: 599px) {
    main {
        width: 95%;
        min-width: 320px;
        min-height: 240px;
        border-image-width: 0;
    }
}

section {
    background: white;
    width: 100%;
    height: 100%;
    padding: 1em;
    box-sizing: border-box;
}